#container{
    display: flex;
    height : 100%;
    width : 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

#score{
    order: 2;
    position: absolute;
    top: 17%;
    right: 25%;
    padding: 0;

}

canvas{

}